@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

*{

  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;


}

.circle-icon {
  height: 16px;
  width: 16px;
  background: radial-gradient(#9829f8, #ececec91, #9829f8, #ffffffa4, #9829f8);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
